<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.betaout.rssviewer"
        versionCode="10" 
        version   = "0.1.0">

    <name>Betaout RSS Viewer</name>

    <description>
        RSS viewer for http://www.betaout.com/blog
    </description>

    <author href="http://www.betaout.com" email="anas@socialcrawler.in">
       Betaout.com
    </author>

    <preference name="phonegap-version" value="2.9.0" />

    <icon src="icons/betaout_logo.jpg" />

 <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
